:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 107 94 174;
  --oui-color-primary-light: 151 128 206;
  --oui-color-primary-darken: 80 76 149;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 128 105 189;
  --oui-color-link-light: 173 144 217;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 237 84 135;
  --oui-color-danger-light: 251 143 176;
  --oui-color-danger-darken: 223 63 121;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 33 204 155;
  --oui-color-success-light: 88 227 173;
  --oui-color-success-darken: 15 152 114;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 245 183 83;
  --oui-color-warning-light: 255 217 140;
  --oui-color-warning-darken: 235 137 45;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 43 39 54;
  --oui-color-fill-active: 47 53 66;

  --oui-color-base-1: 78 71 108;
  --oui-color-base-2: 67 61 94;
  --oui-color-base-3: 56 51 77;
  --oui-color-base-4: 49 44 68;
  --oui-color-base-5: 42 38 61;
  --oui-color-base-6: 35 32 54;
  --oui-color-base-7: 61 56 90;
  --oui-color-base-8: 29 26 44;
  --oui-color-base-9: 23 20 34;
  --oui-color-base-10: 16 14 24;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 84 135;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 33 204 155;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 65 56 133;
  --oui-gradient-primary-end: 128 105 189;

  --oui-gradient-secondary-start: 80 64 126;
  --oui-gradient-secondary-end: 107 94 174;

  --oui-gradient-success-start: 15 133 93;
  --oui-gradient-success-end: 33 204 155;

  --oui-gradient-danger-start: 177 42 93;
  --oui-gradient-danger-end: 237 84 135;

  --oui-gradient-brand-start: 201 173 230;
  --oui-gradient-brand-end: 146 114 198;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 184 109 31;
  --oui-gradient-warning-end: 245 183 83;

  --oui-gradient-neutral-start: 30 32 37;
  --oui-gradient-neutral-end: 43 46 54;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}